<blockquote class="quote">
  <p class="qoute__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, veniam!
    Atque impedit sequi unde sapiente? Iusto asperiores dolore mollitia vero
    amet sint libero minus adipisci quam tempore voluptatum ducimus obcaecati,
    tenetur error, sapiente aperiam laborum accusantium, assumenda atque eveniet
    vel. Sapiente laborum explicabo voluptates repellat provident quibusdam sed
    eligendi earum.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Hamid Asna</h3>
        <p class="quote__comp">Artimoos Holding</p>
      </div>
    </div>
  </footer>
</blockquote>
